    body,
    body * {
        box-sizing: border-box;
        vertical-align: top;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    li {
        list-style-type: none;
    }

    .container {
        display: grid;
        border: 2px solid black;
        width: 50%;
        margin: 0 auto;
        margin-top: 10vh;
    }

    .container>h1 {
        text-align: center;
        background:#eee;
        padding:10px;
    }

    .main-container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        background:#ddd;
        padding:15px;
    }
    .container-add-employee {
        display:flex;
        flex-direction: column;
        gap:10px;
    }
    .container-add-employee h3{
            text-align: center;
        }
    .container-add-employee button, input {
        width:70%;
        margin: 0 auto;
        padding:10px;
    }

    .employee-container {
        display:flex;
        justify-content: left;
        align-items: center;
        background: #ddd;
    }

    .employee-list {
        display:flex;
        flex-direction: column;
        width: 100%;
        
    }

    .employee-container li {
        font-size: 25px;
        display: flex;
        gap:20px;
        border-bottom: 1px solid black;
        padding: 10px;
        padding-left: 100px;
    }
        .delete-button {
        padding:5px;
        cursor: pointer;
        }

        .container-employee-info{
        display:flex;
        flex-direction: column;
        gap:10px;
        }
        .container-employee-info span {
        font-size: 18px;
        }